
.Login {
  width:120px; margin:0 auto;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 50px;
}
.tayK{
  display:block;
  width: 300px; margin:0 auto;
}
.playlist{
  display:block;
  width: 300px; margin:0 auto;
}
